# nombre del flujo de trabajo

name: Integraci칩n y entrega continua
on:

  push:
    branches:
      - main

jobs:
  job1:
    runs-on: ubuntu-latest  

    env:
      nombres: "Rodney Kevin"  
      apellidos: "Ruiz Pariona"  
      edad: "35"  

    steps:
      # Paso 1: Presentaci칩n
      - name: Presentaci칩n
        run: echo "Mi nombre es ${{ env.nombres }} ${{ env.apellidos }} y tengo ${{ env.edad }} a침os"

    # Steps represent a sequence of tasks that will be executed as part of the job
    
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
